<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>
      <b>Mission & Vission</b> 
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p> 
    <ion-card>
    <img src="assets/Kellogg.PNG"/>
  </ion-card >
  Slogan: Honor, Dream, Future. <br><br>

  Mission: We are committed to educating and developing leaders of enterprises who create value for their stakeholders and society at large. <br><br>
  
  We are equally committed to developing new scholars and teachers, and to creating and disseminating pathbreaking knowledge. <br><br>
  
  Vision: Developing ideas and leaders that transform the world—from the very center of business. 
    
  </p>
</ion-content>
