<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>
        Events
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [routerLink]="['/location']">
    <img src="assets\future.png" />
  </ion-card>
  <h2>Future Entrepreneurs.</h2>
 
  <ion-card [routerLink]="['/location']">
    <img src="assets\Family.jpg" />
  </ion-card>
  <h2>Family Day. </h2>
  
  <ion-card [routerLink]="['/location']">
    <img src="assets\entrepreneurs.jpg" />
  </ion-card>
  <h2>Entrepreneurship Day.</h2>
  
</ion-content>
